.room__item {
    background-color: #AFB6E9;
    height: 250px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &:hover{
        cursor: default;
        background-color: #9ea7e6;
    }
    p {
        text-align: center;
        color: black;
    }

    & > button {
        background-color: transparent;
        border: none;
        position: absolute;
        bottom: 0px;
        font-size: 34px;
        opacity: 0.8;
        &:hover {
            cursor: pointer;
            transform: scale(1.2);
            opacity: 1;
        }
    }

    & > h5 {
        border: none;
        position: absolute;
        bottom: 5px;
    }
}