@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,700&display=swap");

html {
  background-color: #F4F6FB;
  -webkit-font-smoothing: antialiased;
  font-family: 'Nunito Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

body {
  margin: 0;
}

button:hover {
  transform: scale(1.05);
  /* font-family: 'Nunito Sans', sans-serif; */
}

div, a, button, span {
  font-family: 'Nunito Sans', sans-serif;
}


a {
  text-decoration: none;
}

input:focus-visible {
  outline: none;
}

select:focus-visible {
  outline: none;
}

/* width */
::-webkit-scrollbar {
  height: 4px;         
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}
