.settings {
    background-color: white;
    min-height: 88vh;
    &__save {
        background-color: #2aa4fc;
        border: none;
        padding: 8px 16px;
        border-radius: 4px;
        color: white;
        &:hover {
            background-color: #0095FF;
            cursor: pointer;
        }
    }
    &__password {
        &__main {
            background-color: #fff;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 4px;
            &>label {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                padding-top: 12px;
                padding-bottom: 8px;
                border-bottom: 1px solid #ccc;
                & svg {
                    margin-left: 4px;
                }
            }
            & button {
                width: 100%;
                padding: 8px;
                border: none;
                border-radius: 4px;
                background-color: #768ff6;
                color: white;
                margin-bottom: 8px;
                &:hover {
                    cursor: pointer;
                    background-color: #0095FF;
                }
            }
        }
    }
    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 2;
    }
    &__close {
        position: absolute;
        top: 9px;
        right: 12px;
        color: red;
        font-size: 24px;
        opacity: 0.6;
        &:hover{
            cursor: pointer;
            opacity: 0.8;
        }
    }
}


@media (min-width: 740px){
    .settings {
        &__nav {
            position: fixed;
            left: 0;
            top: 56px;
            bottom: 0;
            background-color: #e9e9e9;
            display: flex;
            flex-direction: column;
            width: 280px;
            justify-content: flex-start;
            padding: 36px 0px;
            & a {
                padding: 12px 0px 12px 70px;
                color: black;
            }
            .active {
                background-color: #0095FF;
                font-weight: 600;
                color: white!important;
            }
        }
        &__account {
            margin-left: 280px;
            padding: 100px 80px;
        }
    
        &__parent {
            margin-left: 280px;
            padding: 40px 80px;
        }
    
        &__tutor {
            margin-left: 280px;
            padding: 40px 80px;            
        }
    
        &__field {
            // display: flex;
            // align-items: center;
            // justify-content: center;
            // margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            margin: 12px 0px;
            label {
                // flex: 1;
                // text-align: end;
                margin-right: 12px;
                font-size: 14px;
                font-weight: 600;
            }
            input {
                // flex: 4;
                padding: 8px 12px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background-color: #fff;
            }
            button {
                flex: 4;
                padding: 8px 12px;
                border: none;
                border-radius: 4px;
                background-color: #2ba1f5;
                color: white;
                &:hover {
                    cursor: pointer;
                    background-color: #0095FF;
                }
            }
            select {
                flex: 4;
                padding: 8px 12px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background-color: white;
            }
            textarea {
                flex: 4;
                padding: 4px 8px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background-color: white;
            }
            &__error {
                color: red;
                font-size: 12px;
            }
        } 

    } 
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .settings {
        &__nav {
            position: fixed;
            left: 0;
            top: 56px;
            bottom: 0;
            background-color: #e9e9e9;
            display: flex;
            flex-direction: column;
            width: 220px;
            justify-content: flex-start;
            padding: 36px 0px;
            & a {
                padding: 12px 0px 12px 24px;
                color: black;
            }
            .active {
                background-color: #0095FF;
                font-weight: 600;
                color: white!important;
            }
        }
        &__account {
            margin-left: 220px;
            padding: 100px 28px;
        }
    
        &__parent {
            margin-left: 220px;
            padding: 40px 28px;
            margin-bottom: 20px;
        }
    
        &__tutor {
            margin-left: 220px;
            padding: 40px 28px;
            margin-bottom: 20px;
        }
    
        &__field {
            display: flex;
            flex-direction: column;
            margin: 12px 0px;
            label {
                // flex: 1;
                // text-align: end;
                margin-right: 12px;
            }
            input {
                flex: 4;
                padding: 8px 12px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background-color: #fff;
            }
            button {
                flex: 4;
                padding: 8px 12px;
                border: none;
                border-radius: 4px;
                background-color: #2fa2f5;
                color: white;
                &:hover {
                    cursor: pointer;
                    background-color: #0095FF;
                }
            }
            select {
                flex: 4;
                padding: 8px 12px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background-color: white;
            }
            textarea {
                flex: 4;
                padding: 4px 8px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background-color: white;
            }
        } 
    } 
}

/* Mobile */
@media (max-width: 739px){
    .settings {
        margin-bottom: 32px;
        &__nav {
            padding: 16px;
            border-bottom: 0.5px solid #0095FF;
            a {
                color: #6e6d7a;
                padding: 0px 8px;
            }
            .active {
                color: black;
                font-weight: 600;
            }
        }

        &__account {
            padding: 20px;
        }

        &__field {
            display: flex;
            flex-direction: column;
            margin: 12px 0px;
            label {
                font-size: 12px;
                font-weight: 600;
                margin-bottom: 2px;
            }
            input {
                padding: 8px 12px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background-color: white;   
            }
            select {
                padding: 8px 12px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background-color: white;
            }
            button {
                padding: 8px 12px;
                border: none;
                border-radius: 4px;
                background-color: #2ea3f7;
                color: white;
                &:hover {
                    cursor: pointer;
                    background-color: #0095FF;
                }
            }
            textarea {
                border: 1px solid #ccc;
            }
        }

        &__parent {
            padding: 20px;
            margin-bottom: 20px;
        }

        &__tutor {
            padding: 20px;
            margin-bottom: 20px;
        }
    }
}

