$cWidth: 220px;
$cHeight: $cWidth*1.45;

.item__room {
    width: $cWidth;
    height: $cHeight;
    background-color: #E9E8EB;
    border: 0.5px solid rgba(0,0,0,0.1);
    border-radius: 20px;
    position: relative;
    opacity: 0.8;
    &:hover{
        cursor: default;
        opacity: 1;
    }
    & p {
        text-align: center;
        color: black;
    }
    &__button {
        display: flex;
        &__check {
            background-color: transparent;
            border: none;
            color: #69ca43;
            font-size: 26px;
        }
        &__delete {
            background-color: transparent;
            border: none;
            font-size: 26px;
            color: #FD3131;
        }
    }
    button {
        opacity: 0.8;
        &:hover {
            cursor: pointer;
            transform: scale(1.2);
            opacity: 1;
        }
    }
    &__thumbnail {
        position: absolute;
        top: 4px;
        left: 4px;
        right: 4px;
        height: 81%; 
        border-radius: 20px;

        & > div {
            padding: 25px 16px;
            & > h4 {
                font-size: 25px;
                margin: 0;
                font-weight: 600;
            }
            & span {
                font-size: 38px;
                margin-left: 12px;
            }
        }

        & > img {
            position: absolute;
            bottom: 16px;
            left: 16px;
            width: 120px;
            height: 120px;
        }
    }
    &__info {
        position: absolute;
        bottom: 6px;
        left: 8px;
        right: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & div {
            display: flex;
            flex-direction: column;
        }
        & h4{
            margin: 0;
            font-weight: 600;
            font-size: 14px;
        }
        
        & h5 {
            margin: 0;
            font-size: 12px;
            font-weight: 500;
            color: #6e6b6b;
            & span {
                color: black;
                font-weight: 500;
            }
        }
        &__heart {
            & svg {
                color: white;
                background-color: #E22B4E;
                padding: 6px;
                font-size: 16px;
                border-radius: 50%;
            }
            background: transparent;
            border: none;
        }
    }
    
}
