$cWidth: 272px;
$cHeight: 292px;

.item__room {
    width: $cWidth;
    height: $cHeight;
    // border: 1px solid rgba(0,0,0,0.1);
    border-radius: 8px;
    position: relative;
    padding: 16px;
    background-color: white;
    // box-shadow: 0 2px 4px 0 rgb(184 184 184 / 50%);
    box-shadow: 0 2px 4px 0 #ccc;
    & p {
        text-align: center;
        color: black;
    }
    &__clock {
        position: absolute;
        top: 6px;
        right: 8px;
        display: flex;
        align-items: center;
        font-size: 10px;
        & svg {
            margin-right: 2px;
        }
    }
    &__thumbnail {
        display: flex;
        align-items:center;
        margin-top: 20px;
        & img {
            width: 60px;
            margin-right: 12px;
        }
        & h3 {
            font-size: 20px;
            margin: 0;
            font-weight: 600;
            margin-bottom: 4px;
            letter-spacing: 2px;
        }
        & h5 {
            margin: 0;
            font-size: 14px;
            font-weight: 400;
        }
    }
    &__info {
        margin-top: 20px;
        & div {
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 4px;
            & svg {
                margin-right: 8px;
                color: #0095FF;
                font-size: 16px;
            }
        }
    }
    &__avatar {
        position: absolute;
        top: 6px;
        left: 12px;
        display: flex;
        font-size: 10px;
        align-items: center;
        & .MuiAvatar-root {
            width: 20px;
            height: 20px;
            margin-right: 2px;
        }
    }
    &__current {
        color: #0095FF;
        position: absolute;
        font-size: 12px;
        bottom: 48px;
    }
}


@media (max-width: 769px){
    .item__room {
        width: 280px;
        height: 300px;
        &__thumbnail {
            & img {
                width: 66px;
            }
            & h3 {
                font-size: 20px;
            }
            & h5 {
                font-size: 14px;
            }
        }
        &__info {
            margin-top: 24px;
            & div {
                display: flex;
                align-items: center;
                font-size: 14px;
                & svg {
                    margin-right: 8px;
                    font-size: 20px;
                }
            }
        }
    }

}