$cWidth: 240px;
$cHeight: $cWidth;

.item__room {
    width: $cWidth;
    height: $cHeight;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 4px;
    position: relative;
    padding: 16px;
    
    & p {
        text-align: center;
        color: black;
    }
    &__clock {
        position: absolute;
        top: 4px;
        right: 8px;
        display: flex;
        align-items: center;
        font-size: 12px;
        font-style: italic;
    }
    &__thumbnail {
        display: flex;
        align-items:center;
        margin-top: 20px;
        & img {
            width: 60px;
            margin-right: 12px;
        }
        & h3 {
            font-size: 20px;
            margin: 0;
            margin-bottom: 4px;
            letter-spacing: 2px;
        }
        & h5 {
            margin: 0;
            font-weight: 400;
        }
    }
    &__info {
        margin-top: 20px;
        & div {
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 4px;
            & svg {
                margin-right: 8px;
                color: #0061ff;
            }
        }
    }
    &__avatar {
        position: absolute;
        top: 2px;
        left: 8px;
        display: flex;
        font-size: 12px;
        align-items: center;
        font-style: italic;
        & .MuiAvatar-root {
            width: 20px;
            height: 20px;
            margin-right: 2px;
        }
    }
    &__current {
        color: #0061ff;
        position: absolute;
        font-size: 12px;
        bottom: 48px;
    }
}
