

@media (max-width: 739px){
  .App {
    /* padding-bottom: 52px; */
  }
}

a {
    text-decoration: none;
}
  
input:focus-visible {
    outline: none;
}

select:focus-visible {
    outline: none;
}

/* width */
::-webkit-scrollbar {
    height: 4px;         
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
